    <%= hidden_field( :work, :place_id, :value=> @place.id )-%>
    <%= hidden_field( :work, :date, :value=> @date )-%>
    <li>datum: <%= my_date @date -%></li>
    <li>místo: <%= @place.name-%>  </li>
