<h2>
    Seznam ukončených projektů 
</h2>

<table>
 <tr>
    <th>firma</th>
    <th>zadal</th>
    <th>projekt</th>
    <th>administrace</th>
 </tr>

<% for project in @projects %>
  <tr>
    <td><%= link_to project.company.name, project.company %></td>
    <td class="left_align"><%= link_to project.user.fullname, project.user %></td>
    <td class="left_align"><%= link_to project_name(project), project %></td>
    <td><%= link_to "vytvořit podklad k fakturaci", new_project_invoice_path(project) %></td>
   </tr>
<% end %>
</table>

<br />

