<h2>
    Seznam ukončených projektů 
</h2>

<table>
 <tr>
    <th>firma</th>
    <th>zadal</th>
    <th>projekt</th>
    <th>administrace</th>
 </tr>

<% for project in @projects %>
  <tr>
    <td><%= right_show_link ( "companies", "show", project.company.name, project.company )%></td>
    <td class="left_align"><%= right_show_link ( "users", "show", project.user.fullname, project.user ) %></td>
    <td class="left_align"><%= right_show_link ( "projects", "show", project_name(project), project )%></td>
    <td><%= right_link ( "invoices", "new", "vytvořit podklad k fakturaci", new_project_invoice_path(project) )%></td>
   </tr>
<% end %>
</table>

<br />

