<h2>
<div class="menu_small">
<%= right_link "system_comments", "new", 'přidat koment', new_system_comment_path %>
</div>
komenty k systému</h2>

<ul class="comments">
<% @system_comments.each do |system_comment| %>
	<%= system_comment_show(system_comment, false) %>
<% end %>
</ul>
