<h1>Editing warehouse_control</h1>

<% form_for(@warehouse_control) do |f|-%>
  <%= f.error_messages-%>

  <p>
    <%= f.label :user_id-%><br />
    <%= f.text_field :user_id-%>
  </p>
  <p>
    <%= f.submit "Update"-%>
  </p>
<% end-%>
