<% form_tag(users_path, :method => :get) do %>
	<%= filter_helper @filter_role , "3" , "admin" %>
	<%= filter_helper @filter_role , "7" , "produkční" %>
	<%= filter_helper @filter_role , "5" , "pracovník" %>
	<%= filter_helper @filter_role , "11" , "účetní" %>
	<%= filter_helper @filter_role , "13" , "klient" %>
	<%= filter_helper @filter_role , "17" , "externí pracovník" %>
	<%= filter_helper @filter_role , "23" , "recepční" %>
	<%= submit_tag 'filtrovat' %>
<% end %>
