<h2>
    Listing companies
</h2>

<div class="company_list">
<% letter = "z" %>
<% for company in @companies %>
      <% if letter.downcase != company.name[0,1].downcase %>
    <% if letter != "z" %> </ul> <% end %>
        <%  letter = company.name[0,1] %>
        <h3> <%=  letter.capitalize %></h3>
        <ul>
      <% end %>
      <li><%= link_to company.name, company %></li>
<% end %>
</ul>



