<h2>
<div class="menu_small">
    <%= right_link "operator_plans", "new", 'naplánovat služby', new_operator_plan_path-%>
    <%= right_link "operator_plans", "edit_operator", 'upravit služby', edit_operator_operator_plans_path-%>
</div>
Kalendář služeb techniků
</h2>

<%= render :partial => 'operator_plans/index', :locals => {:value => 1 } -%>