<h2>
<div class="menu_small">
    <%= right_link "operator_plans", "new_recepce", 'naplánovat služby', new_recepce_operator_plans_path-%>
</div>

Kalendář služeb recepčních
</h2>

<%= render :partial => 'operator_plans/index', :locals => {:value => 0 } -%>