<h2>Zauctování hotových prací</h2>

<% form_for(@finished_work) do |finished_work_form| %>
  <%= finished_work_form.error_messages %>

    <%= render :partial=>"finished_works/form_operations", :locals => { :type => "works", :finished_work_form => finished_work_form } %>
      
         <%= finished_work_form.submit 'zaúčtovat'  %>

<% end %>
