<p>
  <b>poznámka:</b>
  <%=h @finished_work.note %>
</p>

<p>
  <b>stav:</b>
  <%=h @finished_work.status %>
</p>

<p>
  <b>hodnota:</b>
  <%=h @finished_work.value %>
</p>

<p>
  <b>operátor:</b>
  <%=h @finished_work.user_id %>
</p>


