<h2>
    <div class="menu_small">
      <%= right_link ("categories", "new", 'přidat kategorii', new_category_path ) %>
    </div>
    Seznam kategorií
</h2>

<table>
  <tr>
    <th width="150">název</th>
    <th>administrace</th>
  </tr>

<% for category in @categories %>
  <tr class="<%= cycle("even", "odd") %>" height="30">
    <td><%= category.name  %></td>
    <td><%= right_link ("categories", "edit", "upravit", edit_category_path(category) ) %></td>
  </tr>
<% end %>
</table>

<br />

