<%= error_messages_for :machine  %>
<p>
    <%= label :machine, 'name', 'název stroje', :required => true %><br />
    <%= text_field :machine, :name %>
</p>
<p>
    <%= label :machine, 'note', 'poznámka', :required => false %><br />
    <%= text_field :machine, :note %>
</p>
<p>
    <%= label :machine, 'price', 'cena', :required => true %><br />
    <%= text_field :machine, :price %>
</p>
