<h2>Upravení stroje</h2>
<div class="menu_small">
  <%= link_to 'Show', @machine %>
</div>
<% form_for(@machine) do |f| %>

  <%= render :partial => 'machines/form' %>

  <p>
    <%= f.submit "upravit" %>
  </p>
<% end %>

